.glitch-wrapper {
  position: relative;
  display: inline-block;
}

.glitch {
  position: relative;
  color: #fff;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  &::before {
    animation: glitch-1 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00f5ff;
    z-index: -1;
  }

  &::after {
    animation: glitch-2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #6adb6a;
    z-index: -2;
  }

  &:hover {
    &::before {
      animation: glitch-1 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    }

    &::after {
      animation: glitch-2 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    }
  }
}

@keyframes glitch-1 {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  20% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }
  40% {
    transform: translate(-2px, -2px);
    opacity: 0;
  }
  60% {
    transform: translate(2px, 2px);
    opacity: 0.8;
  }
  80% {
    transform: translate(2px, -2px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}

@keyframes glitch-2 {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  20% {
    transform: translate(2px, -2px);
    opacity: 0.8;
  }
  40% {
    transform: translate(2px, 2px);
    opacity: 0;
  }
  60% {
    transform: translate(-2px, -2px);
    opacity: 0.8;
  }
  80% {
    transform: translate(-2px, 2px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}
